body {
    font-family: 'Roboto', sans-serif;
}

/* General Styles */

.block-divider {
    width: 75px;
    background-color: #f5f5f5;
    height: 1px;
    border: none;
}

.block-divider-orange {
    color: #f05f40;
}

.block-divider-short {
    width: 35px;
}

.alert-container {

}

/* Callout Section */

.callout-container {
    height: 100vh;
    background: url("../images/callout-bg.jpg") no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container {

}

.features-container {

}

.jumbotron {
    color: #f5f5f5;
    background-color: transparent;
}

.jumbotron .lead {
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
}

.jumbotron-header {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: #fff;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
}